<div class="wrapper">
    <div class="main-header">
        <div class="logo-header">

            <a href="/" class="logo">
                <span>RetroBeat</span>
            </a>

            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa-solid fa-bars"></i></span>
            </button>
            <button class="topbar-toggler more"></button>
        </div>
        <nav class="navbar navbar-header navbar-expand-lg">
            <div class="container-fluid">

                <!-- <form class="navbar-left navbar-form nav-search mr-md-3 m-2" action="">
                        <div class="input-group">
                            <input type="text" placeholder="Search ..." class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-search search-icon"></i>
                                </span>
                            </div>
                        </div>
                    </form> -->

                <form class="form mr-md-3 m-2" id="searchForm">
                    <label for="search">
                        <input class="input" type="text" required="" placeholder="Search.." id="searchInp"
                            autocomplete="off" />
                        <div class="fancy-bg"></div>
                        <div class="search">
                            <svg viewBox="0 0 24 24" aria-hidden="true"
                                class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr">
                                <g>
                                    <path
                                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                    </path>
                                </g>
                            </svg>
                        </div>
                        <button class="close-btn" type="reset">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
                </form>
                {{#if loggedIn}}
                {{#if isAdmin}}
                {{! Admin true/Admin account }}
                <div>
                    <div class="dropdown me-5">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user-gear"></i>
                            Profile
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">{{username}}</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="/admin/dashboard">Dashboard</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                {{else}}


                {{! Admin false/ User Account }}
                <div>
                    <div class="dropdown me-5">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                            Profile
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">{{username}}</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                {{/if}}
                {{else}}
                <div>
                    <div class="dropdown me-5">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user-gear"></i>
                            Profile
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                        </ul>
                    </div>
                </div>
                {{/if}}
            </div>
        </nav>
    </div>
    <div class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                    <div class="test active" id="home-btn">
                        <a href="">
                            <i class="fa-solid fa-home"></i>
                            <p>Home</p>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="test" id="trendingsongBtn">
                        <a href="">
                            <i class="fa-solid fa-fire-flame-curved icon"></i>
                            <p>Trending</p>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="test" id="newsongBtn">
                        <a href="">
                            <i class="fa-solid fa-music"></i>
                            <p>New</p>

                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="test" id="artist-btn">
                        <a href="">
                            <i class="fa-solid fa-microphone-lines"></i>
                            <p>Artist</p>

                        </a>
                    </div>
                </li>
                <hr />
                <li class="nav-item">
                    <div class="test" id="fav-btn">
                        <a href="">
                            <i class="fa-solid fa-heart"></i>
                            <p>Favourites</p>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="test" id="playlistBtn">
                        <a href="">
                            <i class="fa-solid fa-compact-disc"></i>
                            <p>Playlists</p>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="test">
                        {{#if loggedIn}}
                        <a href="/logout">
                            <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180"></i>
                            <p>Logout</p>
                        </a>
                        {{else}}
                        <a href="/login">
                            <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            <!-- LogOut <i class="fa-solid fa-arrow-right-from-bracket"></i> -->
                            <p>Login</p>
                        </a>
                        {{/if}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <div class="content" id="content">
            {{!-- --}}
            <div class="container-fluid">
                <div class="row col-sm-12">
                    <div class="col-md-12">
                        <h4 class="page-title">New</h4>
                        <div class="card" id="slide-container-one">
                            <div id="my-container-one ">
                                <div id="slider-container-one">
                                    <div id="slider-one">
                                        {{#each newTenSongs}}
                                        <a class="slide-one" id="slide-one"
                                            onclick="getsongDetails('{{_id}}','{{songName}}','{{songimgName}}','{{songfileName}}')">
                                            <img src="/uploads/songImage/{{songimgName}}" alt="song-img" />
                                            <h6 class="mt-2 ">{{songName}}</h6>
                                        </a>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="slide-btn">
                                    <i id="leftBtn-one" class="fa-solid fa-circle-chevron-left slideBtn"></i>
                                    <i id="rightBtn-one" class="fa-solid fa-circle-chevron-right slideBtn ms-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ===end first slider -->


                    <div class="col-md-6">
                        <h4 class="page-title">Top 10</h4>
                        <div class="card card-tasks">

                            {{#each topTenSongs}}
                            <div class="song-list">
                                <div class="song"
                                    onclick="getsongDetails('{{_id}}','{{songName}}','{{songimgName}}','{{songfileName}}')">
                                    <div class="song-img">
                                        <img src="/uploads/songImage/{{songimgName}}" alt="top-ten-songs" />
                                    </div>
                                    <div class="song-name">{{songName}}</div>
                                    <div class="song-time">{{duration}}</div>
                                    <div class="play-button"><i class="fa-solid fa-play"></i></div>
                                </div>
                            </div>
                            {{/each}}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="page-title mt-2">Language</h4>
                        <div class="card mt-3">
                            <div class="mood-card">
                                <div class="mood-div-main">
                                    <div id="malayalam-btn">Malayalam</div>
                                    <div id="tamil-btn">Tamil</div>
                                    <div id="hindi-btn">Hindi</div>
                                    <div id="english-btn">English</div>
                                </div>
                            </div>
                        </div>
                        <h4 class="page-title mt-5">Categories</h4>
                        <div class="card mt-3">
                            <div class="mood-card">
                                <div class="mood-div-main">
                                    <div onclick="getUrl('Chill-Hits')">Chill Hits</div>
                                    <div onclick="getUrl('Romantic')">Romantic</div>
                                    <div onclick="getUrl('Sad')">Sad</div>
                                    <div onclick="getUrl('Dance')">Dance</div>
                                    <div onclick="getUrl('Sleep')">Sleep</div>
                                    <div onclick="getUrl('Rap')">Rap</div>
                                    <div onclick="getUrl('Hip-Pop')">Hip-Pop</div>
                                    <div onclick="getUrl('Classical')">Classical</div>
                                </div>
                            </div>
                        </div>
                        <h4 class="page-title mt-5">Types</h4>
                        <div class="card mt-3">
                            <div class="mood-card">
                                <div class="mood-div-main">
                                    <div onclick="getUrl('Normal')">Normal</div>
                                    <div onclick="getUrl('Lo-Fi')">Lo-Fi</div>
                                    <div onclick="getUrl('BGM')">BGM</div>
                                    <div onclick="getUrl('Others')">Others</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Start second slider -->
                    <div class="col-md-12">
                        <h4 class="page-title">Artists</h4>
                        <div class="card" id="slide-container-two">
                            <div id="my-container-two ">
                                <div id="slider-container-two">
                                    <div id="slider-two">
                                        <div class="slide-two">
                                            <img src="https://i.scdn.co/image/ab67616d0000b273a0297a9f74f9e43a2f9753be"
                                                alt="" />
                                            <!-- <div class="song-detailes">
                                                  <div class="new-songName">Chirathukal</div>
                                                  <div class="new-songTime">3:48</div>
                                              </div> -->
                                        </div>
                                        <div class="slide-two"><img
                                                src="https://a10.gaanacdn.com/gn_img/song/01A3mrWNQX/A3mAMwnd3N/size_l_1637731261.jpg"
                                                alt="" /></div>
                                        <div class="slide-two"><img
                                                src="https://a10.gaanacdn.com/gn_img/albums/4Z9bqo3yQn/Z9bq6vxMKy/size_l.jpg"
                                                alt="" /></div>
                                        <div class="slide-two"><img
                                                src="https://a10.gaanacdn.com/images/albums/18/2194918/crop_480x480_1535086575_2194918.jpg"
                                                alt="" />
                                        </div>
                                        <div class="slide-two"><img
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbgP2LRzZNtx4DqBAp5FmQ1ChzpNaeGuJ1QYyGmZ2rLi9vnOwO601eZ1wHWUk__4_Su6I&usqp=CAU"
                                                alt="" /></div>
                                        <div class="slide-two">6</div>
                                        <div class="slide-two">7</div>
                                        <div class="slide-two">8</div>
                                        <div class="slide-two">9</div>
                                        <div class="slide-two">10</div>
                                    </div>
                                </div>
                                <div class="slide-btn">
                                    <i id="leftBtn-two" class="fa-solid fa-circle-chevron-left slideBtn"></i>
                                    <i id="rightBtn-two" class="fa-solid fa-circle-chevron-right slideBtn ms-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End second slider -->

                    <!-- Start third slider -->

                    <div class="col-md-12">
                        <h4 class="page-title">Shows to try</h4>
                        <div class="card" id="slide-container-three">
                            <div id="my-container-three ">
                                <div id="slider-container-three">
                                    <div id="slider-three">
                                        <div class="slide-three">
                                            <img src="https://i.scdn.co/image/ab67616d0000b273a0297a9f74f9e43a2f9753be"
                                                alt="" />
                                            <!-- <div class="song-detailes">
                                                    <div class="new-songName">Chirathukal</div>
                                                    <div class="new-songTime">3:48</div>
                                                </div> -->
                                        </div>
                                        <div class="slide-three"><img
                                                src="https://a10.gaanacdn.com/gn_img/song/01A3mrWNQX/A3mAMwnd3N/size_l_1637731261.jpg"
                                                alt="" /></div>
                                        <div class="slide-three"><img
                                                src="https://a10.gaanacdn.com/gn_img/albums/4Z9bqo3yQn/Z9bq6vxMKy/size_l.jpg"
                                                alt="" /></div>
                                        <div class="slide-three"><img
                                                src="https://a10.gaanacdn.com/images/albums/18/2194918/crop_480x480_1535086575_2194918.jpg"
                                                alt="" />
                                        </div>
                                        <div class="slide-three"><img
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbgP2LRzZNtx4DqBAp5FmQ1ChzpNaeGuJ1QYyGmZ2rLi9vnOwO601eZ1wHWUk__4_Su6I&usqp=CAU"
                                                alt="" /></div>
                                        <div class="slide-three">6</div>
                                        <div class="slide-three">7</div>
                                        <div class="slide-three">8</div>
                                        <div class="slide-three">9</div>
                                        <div class="slide-three">10</div>
                                    </div>
                                </div>
                                <div class="slide-btn">
                                    <i id="leftBtn-three" class="fa-solid fa-circle-chevron-left slideBtn"></i>
                                    <i id="rightBtn-three" class="fa-solid fa-circle-chevron-right slideBtn ms-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End third slider -->
                    <!-- Start fourth slider-->

                    <div class="col-md-12">
                        <h4 class="page-title">Spotify originals & Exclisive Shows</h4>
                        <div class="card" id="slide-container-four">
                            <div id="my-container-four ">
                                <div id="slider-container-four">
                                    <div id="slider-four">
                                        <div class="slide-four">
                                            <img src="https://i.scdn.co/image/ab67616d0000b273a0297a9f74f9e43a2f9753be"
                                                alt="" />
                                            <!-- <div class="song-detailes">
                                                    <div class="new-songName">Chirathukal</div>
                                                    <div class="new-songTime">3:48</div>
                                                </div> -->
                                        </div>
                                        <div class="slide-four"><img
                                                src="https://a10.gaanacdn.com/gn_img/song/01A3mrWNQX/A3mAMwnd3N/size_l_1637731261.jpg"
                                                alt="" /></div>
                                        <div class="slide-four"><img
                                                src="https://a10.gaanacdn.com/gn_img/albums/4Z9bqo3yQn/Z9bq6vxMKy/size_l.jpg"
                                                alt="" /></div>
                                        <div class="slide-four"><img
                                                src="https://a10.gaanacdn.com/images/albums/18/2194918/crop_480x480_1535086575_2194918.jpg"
                                                alt="" />
                                        </div>
                                        <div class="slide-four"><img
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbgP2LRzZNtx4DqBAp5FmQ1ChzpNaeGuJ1QYyGmZ2rLi9vnOwO601eZ1wHWUk__4_Su6I&usqp=CAU"
                                                alt="" /></div>
                                        <div class="slide-four">6</div>
                                        <div class="slide-four">7</div>
                                        <div class="slide-four">8</div>
                                        <div class="slide-four">9</div>
                                        <div class="slide-four">10</div>
                                    </div>
                                </div>
                                <div class="slide-btn">
                                    <i id="leftBtn-four" class="fa-solid fa-circle-chevron-left slideBtn"></i>
                                    <i id="rightBtn-four" class="fa-solid fa-circle-chevron-right slideBtn ms-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End fourth slider -->
                </div>
            </div>
        </div>


        {{!-- --}}
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                git-hub
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                linkedIn
                            </a>
                        </li>
                        <li class="nav-item ml-auto">
                            <div class="copywrite">
                                <span class="">2023, made with &#169 by </span><a class="nav-link" href="#">Abhishek</a>
                            </div>
                        </li>
                    </ul>
                </nav>

            </div>
        </footer>
    </div>
</div>
{{!-- Playlist Div --}}
<div id="overlay-background"></div>
<div id="add-to-playlist-div" style="border-radius: 8px;">

    <div style="padding: 25px;">
        <div class="playlist_header">
            <h4>Add to playlist</h4>
            <span id="close-icon"><i class="fa-solid fa-xmark"></i></span>
        </div>
        <div class="playlist_list">
            <form id="playlistForm">
                {{#each playlists}}
                <input type="radio" name="playlistId" value="{{_id}}" class="custom-checkbox"
                    onchange="handleCheckboxChange(this)" id="check-box" /> <span
                    class="playlistName">{{playlistName}}</span>
                <br />
                {{/each}}
                <button type="submit" id="submitButton" disabled style="border-radius: 8px;">Save</button>
            </form>
        </div>
        <div class="playlist_createPlaylist">
            <div id="createplaylistdivBtn">
                <i class="fa-solid fa-book-medical"></i>
                <span>create new playlist</span>
            </div>
        </div>

        <div id="createplaylistForm">
            <form>
                <input type="text" name="playlistname" id="plnameinp" placeholder="Enter playlist Name" required>
                <button type="submit" id="createplBtn">Create</button>
            </form>
        </div>

    </div>

</div>


<!-- Player Div start -->
<div id="favsongid" style="display: none;">{{favsongId}}</div>

<div class="row">
    <div id="musicPlayer">
        <div class="left-side">
            <img src="" class="cover" id="imageName" />
            <h6 class="track-title" id="songName"></h6>
            <span class="favourite">

                <a href="/add-favourite-song" class="heart" id="add-favourite">
                    <i class="fa-regular fa-heart" style="color: black"></i>
                </a>
                <a href=" /remove-favourite" class="heart" id="remove-favourite">
                    <i class="fas fa-heart text-dark"></i>
                </a>
            </span>
        </div>
        <div class="center-side">
            <div class="controls-div">
                <div class="controls">
                    <button class="btn" id="btnPrev">
                        <span>
                            <i class="fas fa-backward"></i>
                        </span>
                    </button>
                    <button class="btn btn-main" id="mainplayBtn">
                        <span> <i class="fas fa-play"></i> </span>
                    </button>
                    <button class="btn" id="btnNext">
                        <span>
                            <i class="fas fa-forward"></i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="timeline">
                <small class="time">0:00</small>
                <small class="fulltime" id="fulltime">0:00</small>
            </div>
            <div class="slider-div">
                <div class="timeline-slider">
                    <div class="range-slider">
                        <input type="range" min="0" max="100" value="0" class="slider" id="time-slider" />
                        <div class="slider-thumb"></div>
                        <div class="progress"></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a id="add-to-playlist">
                <i class="fa-solid fa-plus" style="color: black;"></i>
            </a>
        </div>
        <div class="right-side">
            <div class="volume-slider">
                <div class="volume-icon">
                    <span><i class="fas fa-volume-up"></i></span>
                </div>
                <div class="range-slider">
                    <input type="range" min="0" max="100" value="50" class="slider" id="audio-slider" />
                    <div class="progress"></div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>


</script>

<audio id="audio" hidden>
    <source src="" type="" />
</audio>
<script>

</script>
<!-- Player Div end -->